{% extends 'base.html.twig' %}

{% block title %}Symfony Mailer{% endblock %}

{% block body %}
<p>Message envoyé. 
    <a href="https://mailer.localhost/" target="_blank">Vérifier MailPit</a>.</p>
{% endblock %}
