{% extends 'base.html.twig' %}

{% block title %}Symfony Notifier{% endblock %}

{% block body %}
<p>Message envoyé. 
    <a href="https://ntfy.localhost/" target="_blank">Vérifier Ntfy</a>.</p>
{% endblock %}
